@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-8">
        <h2>Try out Hangfire</h2>
        <ul>
            <li>@Html.ActionLink("Fire And Forget", "FireAndForget", "Home")</li>
            <li>@Html.ActionLink("Recurring Minutely", "RecurringMinutely", "Home") - that's the word they use</li>
            <li>@Html.ActionLink("Continuations", "Continuations", "Home")</li>
            <li>@Html.ActionLink("Continuations", "MyContinuations", "Home") - User Defined Action&lt;T&gt;</li>
            <li>@Html.ActionLink("I Fail Randomly", "#FailRandomly", "Home")</li>
            <li>@Html.ActionLink("Fire And Forget", "FireAndForgetDelay", "Home") - (With Delay)</li>
            <li>@Html.ActionLink("Schedule Taks", "ScheduleTask", "Home") - (With Crontab - "30 0 1-31/2 * *" - Translated, every other day at midnight thirity)</li>
            <li>@Html.ActionLink("Trigger Taks", "TriggerTask", "Home")</li>
            <li>@Html.ActionLink("Job With Cancel Token", "JobWithCancelToken", "Home")</li>
        </ul>

        <h3>Dependencies</h3>
        <ul>
            <li>@Html.ActionLink("EmailSender", "EmailSender", "Home")</li>
        </ul>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>